{% extends "layout.html" %}
{% block title %}{% endblock %}

{% block content %}
<h3>Survey</h3>
<div class="content-section">
       
<form action="" method="POST">
{{ forms.hidden_tag() }}

    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Help improve the system and provide us feedback</legend>
            <div class="form-group">
        {{ forms.location.label(class="form-control-label") }} 
        {% if forms.location.errors %}
            {{ forms.location(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in forms.location.errors %}
                <span>{{ error }}</span>
                    {% endfor %}    
                </div>
                    {% else %}     
                   {{ forms.location(class="form-control form-control-lg") }}
        {% endif %}
            </div>
        
        <div class="form-group">       
        {{ forms.gender }}
        </div>

        <div class="form-group">
        {{ forms.age.label(class="form-control-label") }} 
            {% if forms.age.errors %}
                {{ forms.age(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                    {% for error in forms.age.errors %}
                <span>{{ error }}</span>
                    {% endfor %}    
                </div>
                    {% else %}     
               {{ forms.age(class="form-control form-control-lg") }} 
                    {% endif %}
            </div>

        <div class="form-group">      

        <!--<tr><td>{{ forms.rating }}</td></tr>
         {{ forms.rating.label(class="form-control-label") }} -->
                <div class="form-group" id="rating-ability-wrapper">
                        <label class="control-label" for="rating">
                        <span class="field-label-header">How would you rate your usability of the system?</span><br>
                        <span class="field-label-info"></span>
                        <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
                        </label>
                        <h2 class="bold rating-header" >
                        <span class="selected-rating">0</span><small> / 5</small>
                        </h2>
                        <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span class="tiptext">Useless</span>
                        </button>
                        <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span class="tiptext">Dissatisfied</span>
                        </button>
                        <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span class="tiptext">Average</span>
                        </button>
                        <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span class="tiptext">Usefull</span>
                        </button>
                        <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span class="tiptext">Excellent</span>
                        </button>
                    </div>
                </div>
              
         <div class="form-group">
             {{ forms.description.label(class="form-control-label") }} 
            {% if forms.description.errors %}
                {{ forms.description(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                    {% for error in forms.description.errors %}
                <span>{{ error }}</span>
                    {% endfor %}    
                </div>
                    {% else %}     
                    {{ forms.description(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
         {{ forms.submit() }} 
    </div>
</form>
</div>


{% endblock %}