{% extends "layout.html" %}
{% block title %}{% endblock %}

{% block content %}
<h1>Microservices Survey</h1>
<p>Your feedback has been sent</p>

{{ location, gender, age, rating, description }}

{% endblock %}